---
id: 3
layout: "_layouts/blog.twig"
title: "Browse all articles"
relativeUrl: "index"
tags:
    - php
img: "#"
outputPath: "blog/php/"
---

<h5 class="red-text text-accent-3">All posts about: 
    {% for tag in post.tags %}
    {{tag}}
    {% endfor %}
</h5>
{% for post in posts|sort(post.getDateInFormat('Y-m-d'))|reverse %}
    {% if (post.id >= 10 and "php" in post.tags) %} 
    <div class="article-card">
        <h4 class="article-card-title"> 
            <a rel="noopener" href="{{site_url}}/{{post.relativeUrl}}" class="purple-text text-darken-4">
                {{post.title}} 
            </a>
        </h4> 
        {% include '_snippets/postinfo.twig' %}
        <br><br>
        {% include '_snippets/catinfo.twig' %}  
        <br><br>
        <div class="divider"></div>
    </div>
    {% endif %}
{% endfor %}