{% if "index" in post.tags %}
    <h5 class="purple-text text-darken-3">All posts</h5>
{% else %}
    {% for tag in post.tags %}
    <div class="chip grey lighten-3 black-text">
    {{ tag }}
    </div>
    {% endfor %}
{% endif %}