<footer class="page-footer grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Footer Content</h5>
        <p class="black-text">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a class="black-text" href="{{site_url}}">All Articles</a></li>
          <li><a class="black-text" href="{{site_url}}">About</a></li>
          <li><a class="black-text" href="{{site_url}}">Contact</a></li>
          <li>
            <a class="black-text" href="{{ socials.github }}">
              <span class="fab fa-github"></span> GitHub
            </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
    © 2020 Celyes.dev
    <span class="right grey-text text-darken-2">Generated using 
      <a class="black-text" href="https://statie.org"><strong>Statie</strong></a>
    </span>
    </div>
  </div>
</footer>