<nav class="z-depth-0 parallax-navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{site_url}}/blog" class="brand-logo">{{site_moto}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="web">Web</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
    </div>
</nav>