<div class="parallax-container">
          
    {% include '_snippets/navbar.twig' %}
    
    <div class="parallax">
        <img src="{{img_url}}/{{post.img}}" />
    </div>
    <div class="vertical-center">
        <h1 class="white-text center headline-text">{{post.title}}</h1>
    </div>
    <div class="category-chips">
        {% for category in post.categories %}
        <div class="chip">{{ category }}</div>
        {% endfor %}
    </div>
</div>
