<div class="parallax-container">
          
    {% include '_snippets/parallaxNavbar.twig' %}
    
    <div class="parallax">
        <img src="{{img_url}}/{{post.img}}" />
    </div>
    <div class="vertical-center">
        <h1 class="white-text center headline-text">{{post.title}}</h1>
    </div>
    <div class="tag-chips">
        {% for tag in post.tags %}
        <div class="chip">{{ tag }}</div>
        {% endfor %}
    </div>
</div>
