<!DOCTYPE html>
<html>
    {% include '_snippets/head.twig' %}
    <body>
    
        {% if (post.id != 1) %}
        {% include '_snippets/parallax.twig' %}
        {% endif %}
        <div class="container container-tight">
          <div class="col-12">
            <br>
            {% if (post.id != 1) %}
            {% include '_snippets/postinfo.twig' %}
            {% endif %}

            {% block content %}{% endblock %}
            
            <br>
            <br>
            {% if (post.id != 1) %}
            {% include '_snippets/disqus.twig' %}
            {% endif %}
          </div>
        </div>

        <!-- footer -->
        <br>
        <br>
        <br>
        <br>
        
        {% include '_snippets/footer.twig' %}

        <!-- scripts -->
        {% include '_snippets/scripts.twig' %}

    </body>
</html>