
<div class="skills">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="section-title">Skills and Qualifications</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/html5.svg" class="skill-icon" alt="html">
            <span class="type">HTML 5</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/css3.svg" class="skill-icon" alt="css3">
            <span class="type">CSS</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/sass.svg" class="skill-icon" alt="sass">
            <span class="type">SASS</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/bootstrap.svg" class="skill-icon" alt="Bootstrap 4">
            <span class="type">Bootstrap</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/materialdesign.svg" class="skill-icon" alt="material design">
            <span class="type">Material Design</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/javascript.svg" class="skill-icon" alt="js">
            <span class="type">JavaScript</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/vue-dot-js.svg" class="skill-icon" alt="vuejs">
            <span class="type">Vue.js</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/jquery.svg" class="skill-icon" alt="jquery">
            <span class="type">jQuery</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/php.svg" class="skill-icon" alt="PHP">
            <span class="type">PHP</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/mysql.svg" class="skill-icon" alt="mysql">
            <span class="type">MySQL</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/laravel.svg" class="skill-icon" alt="laravel">
            <span class="type">Laravel</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/lumen.svg" class="skill-icon" alt="lumen">
            <span class="type">Lumen</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/git.svg" class="skill-icon" alt="git">
            <span class="type">Git</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/github.svg" class="skill-icon" alt="github">
            <span class="type">GitHub</span>
        </div>
        <div class="col-xs-4 col-sm-2 language">
            <img src="assets/img/gnubash.svg" class="skill-icon" alt="bash">
            <span class="type">Bash</span>
        </div>
    </div>
</div>
