---
id: 2
layout: "_layouts/blog.twig"
title: "Celyes.dev - Web"
relativeUrl: "web"
categories:
    - web
img: "#"
---
{% for post in posts|reverse %}
    {% if (post.id >= 10 and "web" in post.categories) %} 
    <div class="article-card">
        <h4 class="article-card-title"> 
            <a rel="noopener" href="{{site_url}}/{{post.relativeUrl}}" class="purple-text text-darken-4">
                {{post.title}} 
            </a>
        </h4> 
        {% include '_snippets/postinfo.twig' %}
        <span class="right">
            {% for category in post.categories %}
                <div class="chip">
                    {{ category }}
                </div>    
            {% endfor %}    
        </span>  
        <br><br>
        <div class="divider"></div>
    </div>
    {% endif %}
{% endfor %}
</div>