@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');
body{
    font-family: 'Source Sans Pro', 'Segoe UI', Ubuntu, Arial, sans-serif;
}
.parallax-container {
    height: 90vh;
    background: rgba(0,0,0,0.4);
}
.parallax-navbar{
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}
.parallax-navbar ul li:hover{
    background: rgba(255,255,255,0.2);
}
.parallax-navbar .container{
    width: 80%;
    height: 100%;
}
.parallax-container .parallax img{
    max-height: 170%;
}
.vertical-center{
    position: absolute;
    text-align: center;
    top: calc(50% - 64px);
    margin: auto;
    width:100%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}
.headline-text{
    font-size: 4vw;
    font-weight: 700;
    width: 80%;
    margin: auto;
}
.category-chips{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
nav .brand-logo{
    font-size: 20px;
    font-weight: 300;
}
.container-tight{
    width: 60% !important;
}
.container-tight p{
    font-size: 22px;
    font-weight: 400;
    line-height: 3rem;
    text-align: justify;
}
.chip{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}
@media(max-width: 768px){
    .container-tight{
        width: 90% !important;
    }
    .headline-text{
        font-size: 36px;
    }
}
.material-icons{
    position: relative;
    top: 2px;
}
.comments-counter{
    position: relative;
}
code {
    border: 1px solid#ccc;
    background-color:#f9f9f9;
}
.page-footer ul li, .page-footer p{
    line-height: 2rem;
}
