---
layout: "_layouts/default.twig"
projects:
    -
        title: MVC
        link: https://github.com/celyes/mvc
        description: The simplest and most basic MVC framework
        type: PHP
        class: php
    -
        title: Design Patterns in PHP
        link: https://github.com/celyes/design-patterns-php
        description: The most common design patterns written in PHP
        type: PHP
        class: php
    -
        title: Corona Virus live tracker
        link: https://corona-dz.now.sh
        description: The very first Covid-19 live tracker for Algeria
        type: JavaScript
        class: js
    -
        title: i18n
        link: https://i18n.softvenue.net/
        description: Open source technical terms glossary - English / Arabic
        type: JavaScript
        class: js
    -
        title: MaterialCV
        link: /projects/MaterialCV/
        description: Material Design CV Template
        type: Materialize CSS
        class: materialize
    -
        title: Learn Git
        link: https://learn-git.ga
        description: Learn Git and Git remotes in Arabic (in Progress)
        type: JavaScript
        class: js
    -
        title: Node Static Server
        link: https://github.com/celyes/Node-static-server
        description: a really simple Node.js static files server.
        type: Node.js
        class: nodejs
    -
        title: Sarahah
        link: http://github.com/celyes/saraha
        description: Sarahah website clone
        type: Laravel
        class: laravel
    -
        title: Persona theme
        link: /projects/persona/
        description: Simple material design theme (for practice)
        type: HTML
        class: html
    -
        title: Simple store theme
        link: /projects/simple-store/
        description: Simple e-commerce theme
        type: HTML
        class: html
    -
        title: Galaxy theme
        link: /projects/galaxy/
        description: Creative agency static template (for practice)
        type: jQuery
        class: jquery
    -
        title: Materialized Login Form
        link: /projects/login/
        description: Simple, yet elegant material design login form 
        type: Materialize CSS
        class: materialize
    -
        title: More works...
        link: https://github.com/celyes?tab=repositories
        description: See other works at GitHub
        type: GitHub
        class: github
---
{% block content %}

    <div class="container py-5 px-2">
    {% include '_layouts/intro.twig' %}
    <br>
    <hr>
    <br>
    {% include '_layouts/skills.twig' %}
    <br>
    <hr>
    <br>
    {% include '_layouts/projects.twig' %}
    </div>
    <br>
    <br>
    <p class="my-5 text-center text-muted" id="date">&copy; <span></span></p>
{% endblock %}
