<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <title>Welcome to my blog </title>   
    </head>
    <body>
        {% include "_layouts/navbar.twig" %}
        <div class="container py-5 px-2">
            {% block content %}
                {% for post in posts %}
                    <a href="/{{ post.relativeUrl }}/">
                        <h3>{{ post.title }}</h3>
                    </a>
                {% endfor %}
            {% endblock %}
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>